* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
ul li{
    list-style: none;
}
i {
    font-style: normal;
}

/*头部*/


#header-container {
    margin: 0;
    padding: 0;
    position: relative;
    z-index:999;
    width: 100%;
}

#header-container li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header-container .header {
    font-size: 14px;
    position: absolute;
    z-index: 999;

}

#header-container .header-wrapper {
    width: 1240px;
    position: relative;
    margin:0 auto;
    overflow: hidden;
    margin-left: 100px;
}

#header-container .header-logo {
    float: left;
    padding: 33px 0;
}

#header-container .header-logo img {
    width: 125px;
    height: 24px;
    display: block;
}

.header-cart {
    color: red;
    width: 29px;
    height: 29px;
    margin: 27px 0 8px 0;
    float: right;
}

.header-cart em {
    width: 6px;
    height: 14px;
    position: absolute;
    top: 26px;
    right: 0;
    border-radius: 50%;
    background: #c00;
    color: #fff;
    line-height: 15px;
    text-align: center;
    padding: 0 4px;
    font-size: 12px;
}

.header-user {
    float: right;
    font-size: 12px;
    padding: 28px 0 0 8px;
    position: relative;
    z-index: 105;
}

.header-user .header-userImg {
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.header-user .header-userImg img {
    width: 29px;
    height: 29px;
    display: block;
}

.header-user-box {
    width: 60px;
    height: 78px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    border-bottom: 0;
}

.user-trigger {
    float: right;

}
.user-trigger .user-dropdown {
    /*display: block;*/
    width: 105px;
    /*position: absolute;*/
    /*top: 64px;*/
    /*left: 89%;*/
    /*right: 0;*/
    background: #ffffff;
    border-radius: 2px;
    box-sizing: border-box;
    text-align: center;
    padding: 15px 0;
    margin-left: -48px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    line-height: 18px;
    display: none;
    margin-top: -30px;
}

.user-dropdown li a{
    font-size: 12px;
    display: block;
    margin: 9px 0;
    color: #515151;

}
.user-dropdown li a:hover{
    color: #32A5E7;
}
.header-search{
    width:170px;
    height:30px;
    line-height: 29px;
    float: right;
    border: 1px solid#999999;
    margin: 26px 5px 0 10px;
    font-size: 12px;
    border-radius:20px;
    box-sizing: border-box;
    position: relative;
    background: #ffffff;
}
.header-search input{
    width: 127px;
    height: 20px;
    margin-left: 15px;
    margin-top: 5px;
    display: block;
    border: 0;
   padding: 0;
    outline: 0;
    transition: width .5s;
    font-size: 12px;
    line-height: 20px;
    color: #333;
}
.header-search a{
    width: 36px;
    height: 32px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: block;
}
.header-search img{
    display: block;
    width:36px;
    height:36px;
    margin: -3px 5px 0 auto
}
.header-link{
    float: right;
    white-space:nowrap;
    overflow: hidden;
}
.header-link li{
    float: left;
}
.header-link li a{
    display: block;
    font-size: 14px;
    padding: 31px 20px 30px;
    line-height: 21px;
    transition: color .1s linear;
    color: #ffffff;
}
.header-link li a:hover{
    color: #32A5E7;
}
/*二级菜单*/
.header-sub{
    display: block;
    min-width:100%;
    height: 0;
    position: absolute;
    top:82px;
    left:0;
    background: #ffffff;
    overflow: hidden;
    z-index: 999;
}
.subWrap{
    width:1240px;
    margin: 0 auto;
    background: #ffffff;
}
.header-sub ul{
    padding: 5px 0 20px;
    overflow: hidden;
    text-align: center;
}
.data-sub li{
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
}
.data-sub li:hover{
    opacity: 0.5;
}
.data-sub a {
    display: block;
    width:120px;
    color: #666666;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 16px;
    cursor: pointer;
    position: relative;
    z-index: 99;
}
.data-sub i img {
    width: 120px;
    height: 120px;
    display: block;
}
.data-sub span{
    opacity: .1;
    transition: opacity .2s ease-in-out;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top:0;
    left:0;
    background:#ffffff;
}
.data-sub em{
    display: block;
    color: #666;
    font-style: normal;
    font-size: 12px;
}
.app-down{
    position: relative;
    width: 1240px;
    margin: 0 auto;
    padding: 10px 0;
}
.app-down img{
    display: block;
    margin: 0 auto;
    width: 100%;
}
/*轮播*/
.mz-banner{
     position: relative;
     margin: auto;
 }
.container-banner{
    width: 100%;
    height:670px;
    position: relative;
    /*overflow: hidden;*/
}
.Gintama {
    background-image: url(./../img/banner2.jpg);
}
.SteinsGate {
    background-image: url(./../img/banner3.jpg);
}
.Unicorn{
    background-image: url(./../img/banner4.jpg);
}
.Berserk {
    background-image: url(./../img/banner6.jpg);
}
.SummerWars {
    background-image: url(./../img/banner7.jpg);
}
.Akito {
    background-image: url(./../img/banner8.jpg);
}
.pagination{
    width: 500px;
    padding: 0 10px;
    height: 25px;
    position: absolute;
    z-index: 20;
    left: 50%;
    bottom: 20px;
    text-align: center;

}
.mz-banner .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #ffffff;
    margin: 5px 8px;
    cursor: pointer;
}

.mz-banner .swiper-pagination-bullet-active {
    width: 10px;
    height:10px;
    background: none;
    border: 1px solid #ffffff;
}
.mz-banner .swiper-pagination-bullet-active:focus {
    outline: none;
}
.bg-image {
    background-size: cover;
    background-position: center;
}
/*内容*/

.index-container{
    background: #f4f4f4;
    min-width: 1240px;
    overflow: hidden;
}

.section-box-adv{
    height: auto;
    padding-bottom: 45px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.section-box a{
    display: block;;
}
.section-box-adv ul{
    overflow: hidden;
}
.index-center-wrapper{
    width: 1240px;
    margin: auto;
}
.index-adv-center .section-box-adv {
    height: auto;
    padding-bottom: 45px;
}
.index-center-wrapper li{
    list-style: none;
}
.index-center-wrapper em{
    font-style: normal;
}
.adv-box-1{
    float: left;
    position: relative;
    width: 25%;
    padding-top: 45px;
}
.box-img{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    color: #515151;
    position: relative;
    transition: all .2s linear;
}
.box-img img{
    height:130px;
    border: 0;
}
.section-box-adv .adv-box-1, .adv-box-2, .adv-box-3, .adv-box-4, em{
    display: block;
    color: #333;
    font-size: 20px;
}
.adv-box-1, .adv-box-2, .adv-box-3, .adv-box-4, p{
    font-size: 14px;
    color: #999;
    max-height: 100%;
}
.section-box-adv li{
    float: left;
    position: relative;
    width: 25%;
    padding-top: 45px;
}
.section-box-adv .last{
    margin-right: 0;
}
/*魅族手机*/

.section-title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
}
.section-title h3{
    font-size: 1em;
    font-weight: 400;
    font-style: normal
}
.index-phone-center .section-box-adv{
    height: 450px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    /*overflow: hidden;*/
}
.index-phone-center .img{
    background: url(./../img/mzshouji.jpg) no-repeat;
}
.section-box-adv a{
    width: 100%;
    height: 100%;
    transition: all .2s linear;
}
.section-box a{
    display: block;
    background-position: center;
    position: relative;
    background-repeat:no-repeat;
}
.section-phone-box .section-box-row li {
    float: left;
    position: relative;
    width: 301px;
    height: 375px;
    margin-right: 9px;
    margin-top: 10px;
    background-color: #fff;
    overflow: hidden;
    transition: all .3s ease;
    list-style: none;
}
.section-phone-box .section-box-row li.big {
    width: 611px;
    height: 610px;
}
.section-phone-box .section-box-row li.big2{
    margin-right: 0;
}
.section-phone-box .section-box-row li.Phone6{
    margin-right: 0;
}

.section-phone-box .section-box-row li .section-item-box {
    height: 100%;
}
.section-box a {
    display: block;
    background-position: center;
    position: relative;
}
.box-img img {
    height: 130px;
    border: 0;
}
.section-phone-box .section-box-row li.big .box-img {
    background-size: cover;
}
.section-box .box-img {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}
.section-box a{
    position: relative;
}
.big .goods-box .goods-img {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 460px;
    margin-left: -250px;
}
.goods-box .goods-img {
    margin-top: 30px;
    border: 0;
}
.section-phone-box .section-box-row li.big .box-info {
    top: 58px;
}
.goods-box .box-info {
    width: 100%;
    position: absolute;
    top: 270px;
    left: 0;
    text-align: center;
}
.section-phone-box .section-box-row li.big .goods-name {
    color: #333;
    font-size: 28px;
    margin-bottom: 0;
}
.section-phone-box .section-box-row li.big .goods-desc {
    color: #333;
    font-size: 18px;
    margin-bottom: 3px;
}
.goods-box .box-info .goods-price {
    position: relative;
    display: inline-block;
    color: #c00;
    font-size: 22px;
    padding-left: 14px;
}
.goods-box .box-info span {
    display: block;
}
.goods-box .box-info .goods-price i {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 14px;
}
.goods-box .box-info .goods-price em {
    font-size: 16px;
}
.goods-box .product-sign.blue {
    background-image: linear-gradient(120deg,#2e74f6,#56bdf9);
}
.goods-box .product-sign {
    position: absolute;
    top: 30px;
    left: 30px;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
}
.goods-box .goods-img {
    height: 230px;
    margin-top: 30px;
}
/*魅族声学*/

.audio-container{
    width:100%;
    overflow: hidden;
}
.section-audio{
      margin: 0 auto;
    overflow: hidden;
 }

.box-audio img{
    height: 450px;
    width:100%;
    display: block;
}
.section-center{
    width:1240px;
    margin: 0 auto;
}
.section-sx .box{
    height: 100%;
}
.box .photo{
    width: 100%;
    height: 100%;
    display: block;
    /*text-align: center;*/
}
.box .photo img{
    width: 303px;
    height: 375px;
}
.section-row li{
    width: 303px;
    height: 375px;
    position: relative;
    margin-right: 7px;
    margin-top: 10px;
    background: #ffffff;
    overflow: hidden;
    float: left;
    transition: all .3s ease;
}
.box-image{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}
.box-image img{
    height:230px;
    margin-top: 30px;
}

.box .box-info {
    position: absolute;
    top: 270px;
    left: 0;
    width: 100%;
    text-align: center;
}
.box .goods-name{
    font-size: 16px;
    margin-bottom: 2px;
    color: #333333;
    display: block;
}
.box .goods-desc{
    font-size: 14px;
    color: #999999;
    display: block;
}
.goods-price {
    position: relative;
    font-size: 22px;
    color: #c00;;
    display: inline-block;
    padding-left: 14px;
}
.goods-price i{
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 14px;
}
.goods-price  em{
    font-size: 16px;
 }
/*//社区热帖*/
.comment-box{
    margin-bottom: 5px;
    overflow: hidden;
}
.index-comment-center .box-center li,.index-video-center .box-center li{
    height: 388px;
    width: 303px;
    position: relative;
    margin-right: 7px;
    margin-top: 10px;
    background: #ffffff;
    overflow: hidden;
    float: left;
    transition: all .3s ease;

}
.comment-img{
    height:190px;
    overflow: hidden;
    position: relative;
}
.comment-img img{
    width: 100%;
    height:100%;
    display: block;
}
.comment-info{
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    padding-top: 10px;
    margin: 0 15px;
}
.comment-info img{
    width:36px;
    height:36px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    float: left;
    box-shadow: 1px 1px 1px 1px #eeeeee;
}
.comment-info .comment-name{
    float: left;
    text-align: left;
    margin-left: 15px;
    font-size: 14px;
    color: #515151;
}
.comment-p{
    font-size: 16px;
    height: 66px;
    line-height: 27px;
    padding: 10px 15px 15px;
    color: #515151;
}
.comment-tip{
    display: block;
    margin-top: 10px;
    padding: 0 15px;
    color: #999999;
    font-size: 14px;
}
.index-video-center .box-center li{
    height:244px;
}

.box-p{
    font-size: 14px;
    line-height: 55px;
}
/*底部*/
.layout-footer{
    width: 100%;
    height:246px;
    color: #999;
    font-size: 12px;
    border-top: 1px solid #efefef;
    background-color: #fff;
    overflow: hidden;
}
.mzContainer{
    width:1240px;
    margin: 0 auto;
}
.footer-top{
    border-bottom: 1px solid #efefef;
    overflow: hidden;
}
.footer-service{
    float: left;
    width:1000px;
    margin: 48px 0 25px;
}
.footer-service-item{
    float: left;
    width:150px;
    text-align: center;
    list-style: none;
}
.item-link{
    display: block;
    overflow: visible;
    color: #999999;
    text-decoration: none;
}
.item-link img{
    width:50px;
    height: 39px;
    display: block;
    margin: 0 auto;
    border: 0;
    vertical-align: top;
}
.service-item-text{
    font-size: 12px;
    line-height: 30px;
    color: #999;
}
.footer-concat{
    float: right;
    margin-top: 30px;
    text-align: right;
}
.contact-desc{
    font-size: 12px;
    color: #999;
    line-height: 30px;
}
.contact-tell{
    display: block;
    color: #00c3f5;
    font-size: 25px;
    font-weight: 400;
    margin-top: -6px;
    line-height: 40px;
    text-decoration: none;
}
.contact-online{
    display: inline-block;
    height:30px;
    line-height: 27px;
    color: #fff;
    position: relative;
    border-radius: 20px;
    background-color: #00c3f5;
    text-align: center;
    transition: background-color .5s;
    padding: 0 20px;
    font-weight: 300;
    overflow: hidden;
}
.contact-online .text{
    display: inline-block;
    vertical-align: middle;
}
.footer-interlock{
    margin: 30px 0 9px;
    overflow: hidden;
}
.interlock-item{
    float: left;
    list-style: none;
    border-right: 1px solid #d6d6d6;
}
.interlock-item:last-child{
    border-right: none;
}
.interlock-item .interlock-link{
    padding-left: 0;
    color: #999;
    padding: 0 15px;
    text-decoration: none;
    font-size: 12px;
}
.interlock-link-lang{
    color: #999;
    padding: 0 15px;
}
.interlock-link img{
    width: 18px;
    height: 18px;
    margin-right: 3px;
    border-style: none;
    vertical-align: top;
}
.footer-copyright{
    font-size: 12px;
}
.copyright-left{
    float: left;
    margin-left: 15px;
}
.copyright-link{
    height: 20px;
    color: #999;
    text-decoration: none;
}
.copyright-text{
    margin-right: 10px;
}
.layout-icon-police{
    position: relative;
    display: inline-block;
    top:4px;
    margin-left: 2px;
    margin-right: 2px;
    height:18px;
    width:14px;
    background-position: center center;
    background: url(./../img/jw.png)no-repeat;
}
.layout-icon{
    vertical-align: top!important;
    margin-top: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.layout-icon-license{
    background: url(./../img/jw1.png) no-repeat;
}