*{
    padding: 0;
    margin: 0;
}
.content{
    width:100%;
    position: relative;
}
.header{
    height: auto;
    margin: auto;
    width:1200px;
    padding-top: 28px;
    padding-bottom: 40px;
}
.header .logo{
    width: 110px;
    height:20px;
    float: left;
    display: block;
    overflow: hidden;

}
.header .logo img{
    width:100%;
    height:100%;
    margin: auto;
}
.banner-box{
    position: relative;
    min-height: 750px;
    max-height: 1080px;
    background: linear-gradient(to bottom, #f8fcff, #f8fcff, #f8fcff);
}
.banner-box:before{
    position: absolute;
    content:' ';
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url(./../img/banner.jpg) no-repeat center;
    background-size:contain ;
}
.Form{
    position: absolute;
    top:14%;
    right:220px;
    width:298px;
    background:#fff;
    padding: 35px 35px 10px;
    border-radius: 2px;
    margin-top: 30px;
}
.Form .tab-title{
    font-size: 18px;
    margin-top: 35px;
    width:300px;
    text-align: center;
}
.Form .tab-title .linkBlack{
    color: #00a7ea;
}

a{
    text-decoration: none;
}
.Form .tab-title span{
    color: #B3ABAB;
    margin: 0 32px 0 32px;
}
.Form .tab-title .linkBlue{
    color: #32A5E7;
}
.Form .tip-box{
    position: relative;
    height:33px;
    width:96%;
    border: 1px solid#ffc2b3;
    border-radius: 2px;
    background: #ffd1ca;
    margin-top:25px;
    display: table;
    margin-bottom: 50px;
    display: none;

}
.Form .tip-box i{
    width:16px;
    height:16px;
    background: url(./../img/error-ico.png);
    position: absolute;
    top:10px;
    left:10px;
}
.Form .tip-box .tip-font{
    font-size: 12px;
    color: #666;
    padding: 0 25px 0 35px;
    vertical-align: middle;
}
.Form .tip-box .close-ico{
    width:16px;
    height:16px;
    background: url(./../img/close-ico.png) no-repeat;
    position: absolute;
    right:10px;
    top:12px;
    cursor: pointer;
    display: inline-block;
}
.select-box{
    width:287px;
    height:48px;
    border: 1px solid#dddddd;
    border-radius: 2px;
    position: relative;
    margin:87px 0;
}
.phoneInput span{
    display: block;
    color: #cccccc;
    font-size: 12px;
    display: none;

}
.phoneInput{
    margin-bottom: 20px;
    text-align: center;
    padding-top: 12px;
    margin-top:20px ;
}
.phoneInput .phoneNum{
    width:96%;
    height:46px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #dadada;
    color: #474747;
    text-indent: 15px;
    font-size: 14px;
}
.inp{
    width:65px;
    border: none;
    line-height: 48px;
    /*border-right:1px solid#dadada ;*/
    margin-left: 10px;
    color: gray;
    font-size: 14px;
    outline: none;
}
.inputNum {
    border: none;
    /*color: gray;*/
    outline: none;
    margin-left: 10px;
}
.username{
    border: none;
    width: 197px;
    height: 44px;
    outline: none;
    background: #ffffff;
}
.row{
    background:url(./../img/arrow-down.png)no-repeat center ;
    width:14px;
    height:8px;
    display: inline-block;
    position: absolute;
    left:49px;
    bottom:20px;
    cursor: pointer;
}
.server{
    font-size: 12px;
    margin-bottom: 30px;
    height:20px;
    line-height: 20px;
    margin-top: 10px;
}
.pointer{
    cursor: pointer;
}
.linkGreen{
    color: #00a7ea;
}
.login-form{
    position: relative;
}
.login-form .btn{
    width:300px;
    height:40px;
    background: #32a5e7;
    border: 1px solid#32a5e7;
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    margin-top: 25px;
    border-radius:2px ;
}
.transfer{
    width:300px;
    height:40px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.transfer a{
    display: block;
    color: #32A5E7;
    font-size: 14px;
}
.login-form #qr-btn{
    width:35px;
    height:35px;
    background: url("./../img/qr.png") no-repeat center;
    position: absolute;
    right:-26px;
    top:-171px;
    display: block;
}
/*底部*/
#footer{
    border-color: transparent !important;
}
.footerWrap{
    width:100%;
    height:130px;
    /*background:pink ;*/
    border-top:1px solid#E5E6E7;
    color: #000e30;
}
.footerInner{
    width:1000px;
    font-size: 14px;
    margin: 24px auto;
}
.footer-layer{
    height:50px;
    line-height: 50px;
}
.footer-link{
    float:left;
    color: #000e30;
}
.footer-link a{
    color: #000e30;
}
.footerLine{
    background:#888;
    width:1px;
    height:10px;
    margin: 0 5px;
}
.footer-server{
    float: left;
    margin-left: 36px;
}
.server-lable{
    margin-right: 10px;
}
.server-num{
    margin-right: 20px;
}
.server-online{
    width:65px;
    height:20px;
    background: #32a5e7;
    color: #fff;
    line-height: 18px;
    display: inline-block;
    border-radius:2px;
    text-align: center;
}
.footer-outLink{
    position: relative;
    float: right;
    padding-top: 10px;
}
.icon img {
    margin-left: 10px;
}
.copy{
    width:1000px;
    margin: auto;
    font-size: 12px;
}
.copy span{
    color: #7f7f7f;
    float: left;
}
.copy a{
    color: black;
    float: left;
}
.linkAgray{
    margin-left: 6px;
}
.linkC{
    float: left;
    margin-left: 6px;
    padding-bottom: 10px;
}