
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
ul li{
    list-style: none;
}
i {
    font-style: normal;
}
/*page*/
.page-sku{
    position: relative;
    padding-top: 66px;
    line-height: 1.5;
}
.aaa{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 999;
}
.fast-nav{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    background: #f6f8fb
}
.container{
    width:1240px;
    height: 70px;
    margin: 0 auto;
}
.fast-nav .ulList{
    float: right;
    margin-top: 26px;
    margin-right: -15px;
}
.ulList .-item{
    float: left;
    position: relative;
    z-index: 1;
    border-right:1px solid#dedede;
    list-style: none;
}
.ulList .-item:last-child{
    border:none;
}
.ulList .-item .-link{
    display: block;
    padding: 0 20px;
    text-decoration: none;
    line-height: 20px;
    color: #333333;
    font-size: 16px;
    transition: color .3s;
}
.ulList .-item .-link:hover{
    color:#00c3F5;
}
.fast-nav .-name{
    line-height: 70px;
    font-size: 26px;
}
.container{
    width:1240px;
    margin: 0 auto;

}
/*放大镜*/
.small-img{
    display: flex;
    align-items:center;
    justify-content: center;
}

.clearfix:before,
.clearfix:after{
    display: table;
    line-height: 0;
    content: "";
}
.clearfix img{
    width: 80px;
    height: 80px;
    vertical-align: middle;
}
.magnifier{
    width: 500px;
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
}
.magnifier-container{
    width: 500px;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.magnifier li{
    margin: 0 15px;
}
.move-view{
    width: 100px;
    height: 100px;
    border: 1px solid #ffffff;
    position: absolute;
    background: #ffffff;
    opacity:0.3;
    cursor: crosshair;
}
.images-cover{
    height: 100%;
    width: 100%;
    position: relative;
}
.images-cover img{
    position: absolute;
}
.magnifier-assembly{
    height: 92px;
    overflow: hidden;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}



.magnifier-line{
    position: relative;
    overflow: hidden;
    height: 92px;
}
/*.magnifier-line ul{*/
    /*position: absolute;*/
    /*left: 0;*/
    /*z-index: 9997;*/
/*}*/
.magnifier-line li{
    float: left;
    cursor: pointer;
    list-style: none;
    width: 80px;
    height:80px;

}
.magnifier-line li:first-child{
    opacity: 0.2;
}
.magnifier-line li:hover{
    opacity: 0.2;

}
.magnifier-line ul > .active .small-img{
    border-color: #bbb;
}
.small-img{
    height: 78px;
    padding: 1px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
}
.magnifier-view{
    width: 100%;
    height: 100%;
    position: absolute;
    right: -105%;
    top: 0;
    z-index: 9999;
    background-color: #fff;
    display: none;
    overflow: hidden;;
}
.magnifier-view img{
    display: block;
}
.animation03{
    transition: all 0.3s ease-in 0.1s;
    -ms-transition: all 0.3s ease-in 0.1s;
    -moz-transition: all 0.3s ease-in 0.1s;
    -webkit-transition: all 0.3s ease-in 0.1s;
    -o-transition: all 0.3s ease-in 0.1s;
}

.sect{
    display: flex;
    justify-content: space-around;
}

/*详情页*/
.property{
    width:640px;
    position: relative;
    padding-top: 25px;
    font-size: 12px;
    float: right;
    overflow: hidden;


}
.preview-avtion{
    float: left;
    padding: 10px 38px 0;
}
.preview-avtion a{
    display: inline-block;
    text-align: center;
    color: #cccccc;
    font-size: 12px;
    text-decoration: none;
}
.preview-avtion img{
    width:18px;
    height:20px;
}
.preview-avtion i{
    display: block;
    padding: 0 25px;

}

.property-hd{
    position: relative;
    padding-top: 30px;
    margin-bottom: 12px;
}
.property-hd h1{
    margin-bottom: 4px;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
    color: #262626;
}
.property-hd .mod-info{
    font-size: 14px;
    color: #999999;
}
.property-cell{
    position: relative;
    padding: 16px 0 12px;
    background: #f6f8fb;
}
.property-cell .price{
    height:36px;
    overflow: hidden;
    padding-left: 10px;
    zoom: 1;
}
.mod-price{
   margin-right: 8px;
    line-height: 36px;
    color: #e02b41;
    float: left;
}
.property-cell small{
    font-size: 24px;
}
.property-cell span{
    color: #e02b41;
    font-size: 36px;
    font-weight: 500;
}
.property-service{
    border-bottom: 1px dashed #dedede;
    padding: 18px 0;
}
.property-service .service-item{
   zoom:1;
}
.vm{
    line-height: 18px;
    float: left;
    padding-left: 10px;
    color: #8c8c8c;
    width:65px;
    font-size: 12px;
}
.s-space{
    padding: 0 6px;
}
.service-item .mod-dd{
    display: flex;
}
.mod-dd span{
    margin-right: 40px;
    color: #8c8c8c;
    display: inline-block;
    line-height: 20px;
}
.suda{
    padding-top: 15px;
    display: flex;
}
.suda .vm-metatit{
    line-height: 20px;
    width:65px;
}
.suda dd{
    color: #000e30;
    font-size: 14px;
   cursor: pointer;
}
.provide{
    margin-left: 74px;
    padding-top: 10px;
    color: #8c8c8c;
    line-height: 20px;
}
.provide a{
    margin-left: 10px;
    color: #27b3ff;
    text-decoration: none;
}
.property-sibling{
    overflow: hidden;
}
.property-sibling .sibling-item{
     margin-top: 20px;
     margin-bottom: -10px;
}
.sibling-item dd{
    width:565px;
    float: left;
    overflow: hidden;
}
.vm-m{
    line-height: 42px;
    float: left;
    padding-left: 10px;
    color: #8c8c8c;
    width:65px;
    font-size: 12px;
}

.set-sale a,.sibling-item a,.huabei-bd a{
    width:176px;
    border: 1px solid#bfbfbf;
    background: #fff;
    margin:0 10px 17px 0;
    line-height: 40px;
    float: left;
    position: relative;
    border-radius: 2px;
    color: #595959;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-size: 14px;
}
.property-set{
    overflow: hidden;
}
.property-set .set-sale{
    margin-top: 20px;
    margin-bottom: -10px;
}
.set-sale .vm-metatit{
    width:65px;
    float: left;
    padding-left: 10px;
    font-size:12px;
    line-height: 42px;
    color: #8c8c8c;
}
.set-sale dd{
    float: left;
    width:565px;
    overflow: hidden;
}
/*.clearfix span{*/
    /*color: red;*/
    /*font-size: 12px;*/
    /*margin-left: 10px;*/
/*}*/

.dd img{
    width:32px;
    height:32px;
    margin-right: 5px;
    vertical-align: middle;
}
.property-huabei{
    position: relative;
    overflow: hidden;
}
.clearfix{
    zoom:1;
}
.meta{
    position: relative;
    line-height: 44px;
    width:65px;
    float: left;
    padding-left: 10px;
    font-size: 12px;
    color: #8c8c8c;
}
.meta a{
    position: absolute;
    right:25px;
    top:20px;
}
.meta img{
    width:30px;
    height:30px;
    color: #8c8c8c;
}
.huabei-bd{
    float: left;
    width:565px;
    overflow: hidden;
    margin-bottom: -10px;
    margin-right: -20px;
}
.huabei-bd .prop{
    width:176px;
    cursor: pointer;
}
 .huabei-bd .vm-periods{
    display: block;
     line-height: 5px;
     font-size: 14px;
     color: #595959;
     padding-top: 17px;
}
.huabei-bd .vm-rate{
    color: #8c8c8c;
    font-size: 12px;
    padding-top: 3px;
}
.property-buy{
    margin-top: 20px;
}
.buy-quantity{
    margin-bottom: 45px
}
.buy-quantity .vm-metatit{
    float: left;
    padding-left: 10px;
    font-size: 12px;
    line-height: 42px;
    color: #8c8c8c;
}
.property-buy .mod-control{
    position: relative;
    z-index: 1;
    height: 40px;
    width: 122px;
    overflow: hidden;
}
.property-buy .mod-control a{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #e7e7e7;
    background: #f7f7f7;
    cursor: pointer;
}
.property-buy .mod-control a.disabled{
    cursor: default;
    color: #e0e0e0;
    cursor: pointer;

}
.property-buy .mod-control .vm-minus{
    right: 90px;

}
.property-buy .mod-control input{
    position: absolute;
    top: 0;
    right: 30px;
    width: 60px;
    height: 38px;
    padding: 0;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    color: #595959;
    border: 1px solid #dedede;
}
.buy-button{
    margin-top: 17px;
    margin-left: 10px;
}
.buy-button a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px!important;
    border-radius: 2px;
}
.btn-join:hover{
    background: #d2f4ee;
}
.buy-button .btn-cart{
    padding: 15px 0;
    width: 208px;
    font-size: 20px;
    line-height: 24px;
    background-color: #27b3ff;
    color: #fff;
    text-align: center;
}
.buy-button .btn-join{
    padding: 15px 0;
    width: 208px;
    font-size: 20px;
    line-height: 24px;
    color: #27b3ff;
    border:1px solid #27b3ff;
    text-align: center;

}
/*服务说明*/
.simple{
    background: #f4f4f4;
    padding-bottom: 60px;
    margin-top: 60px;
    height:100%;
    overflow: -webkit-paged-y;
}
.simple-hd{
    font-size: 24px;
    padding-top: 45px;
    padding-bottom: 20px;
}
.simple-bd img{
   vertical-align: top;
    padding-top: 60px;
}
.detail-recommend{
    background: #f4f4f4;
    overflow: hidden;
}
.detail-hd{
    overflow: hidden;
    margin-bottom: 14px;
}
.detail-hd .mod-title{
    font-size: 24px;
    color: #333;
    font-weight: 400;
    float: left;
}
.detail-silder{
    overflow: hidden;
    height: 338px;
    margin-bottom: 60px;}

/*固定栏*/
.site-gotop{
    position: fixed;
    width: 44px;
    bottom: 50px;
    left: 50%;
    margin-left: 640px;
    display: none;
}
.site-gotop .gotop-suggest, .gotop-arrow{
    display: inline-block;
    width: 44px;
    height: 44px;
    background: 50% 50% no-repeat #b4b4b4;
    cursor: pointer;
    background-image: url(./../img/xin.png);
}
.site-gotop .gotop-arrow{
    background-image: url(./../img/shang.png);
}