<h1>
    <div id="header-container">
        <div class="header">
            <div class="header-wrapper">
                <!--logo-->
                <div class="header-logo theme">
                    <a href="index1.html">
                        <img src="img/meizu.png">
                    </a>
                </div>
                <!--购物车-->
                <a href="cart.html" class="header-item header-cart theme" id="header-cart">
                    <img src="img/Gw.png">
                    <em style="font-style: normal">0</em>
                </a>
                <!--用户-->
                <ul class="ulRight theme">
                    <li>
                        <a href="#" class="header-userImg" id="userImg">
                            <img class="img" src="img/YH2.png" alt="">
                        </a>
                        <ul class="user-dropdown" id="dropdown">
                            <li><a href="login.html">立即登录</a></li>
                            <li><a href="register.html">立即注册</a></li>
                            <li><a href="cart.html">我的订单</a></li>
                            <li><a href="#">M码通道</a></li>
                        </ul>
                    </li>
                </ul>
                <!--搜索-->
                <div class="header-item header-search theme" id="header-search">
                    <input type="text" placeholder="魅族 V8">
                    <a href="#" class="meizu-header-icon-search">
                        <img src="img/sousuo (2).svg">
                    </a>
                </div>
                <!--菜单lam-->
                <ul id="header-nav" class="theme">
                    <li class="sub navLink">
                        <p><a href="kind.html">手机</a></p>
                        <div class="item">
                            <ul class="ulR">
                                <li><a href="detail.html"><img src="img/P1.jpg"/><p>魅族 16 X</p><p>￥2500起</p></a></li>
                                <li><a href="detail.html"><img src="img/P2.jpg"/><p>魅族 16 X</p><p>￥2500起</p></a></li>
                                <li><a href="detail.html"><img src="img/P3.jpg"/><p>魅族 16 X</p><p>￥2500起</p></a></li>
                                <li><a href="detail.html"><img src="img/P4.jpg"/><p>魅族 16 X</p><p>￥2500起</p></a></li>
                                <li><a href="detail.html"><img src="img/P5.jpg"/><p>魅族 16 X</p><p>￥2500起</p></a></li>
                                <li><a href="detail.html"><img src="img/P4.jpg"/><p>魅族 16 X</p><p>￥2500起</p></a></li>
                                <li><a href="detail.html"><img src="img/P5.jpg"/><p>魅族 16 X</p><p>￥2500起</p></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="sub navLink">
                        <p><a href="#">声学</a> </p>
                        <div class="item">
                            <ul class="ulR">
                                <li><a href="#"><img src="img/ear1.jpg"/><p>魅族 HALO 耳机</p><p>￥198 起</p></a></li>
                                <li><a href="#"><img src="img/ear2.jpg"/><p>魅族 HALO 耳机</p><p>￥198 起</p></a></li>
                                <li><a href="#"><img src="img/ear3.jpg"/><p>魅族 HALO 耳机</p><p>￥198 起</p></a></li>
                                <li><a href="#"><img src="img/ear4.jpg"/><p>魅族 HALO 耳机</p><p>￥198 起</p></a></li>
                                <li><a href="#"><img src="img/ear5.jpg"/><p>魅族 HALO 耳机</p><p>￥198 起</p></a></li>
                                <li><a href="#"><img src="img/ear4.jpg"/><p>魅族 HALO 耳机</p><p>￥198 起</p></a></li>
                                <li><a href="#"><img src="img/ear5.jpg"/><p>魅族 HALO 耳机</p><p>￥198 起</p></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="sub navLink">
                        <p><a href="#">智能</a> </p>
                        <div class="item">
                            <ul class="ulR">
                                <li><a href="#"><img src="img/Z1.jpg"/><p>魅族蓝牙音频接收器</p><p>￥298 起</p></a></li>
                                <li><a href="#"><img src="img/Z2.jpg"/><p>魅族蓝牙音频接收器</p><p>￥298 起</p></a></li>
                                <li><a href="#"><img src="img/Z3.jpg"/><p>魅族蓝牙音频接收器</p><p>￥298 起</p></a></li>
                                <li><a href="#"><img src="img/Z4.jpg"/><p>魅族蓝牙音频接收器</p><p>￥298 起</p></a></li>
                                <li><a href="#"><img src="img/Z5.jpg"/><p>魅族蓝牙音频接收器</p><p>￥298 起</p></a></li>
                                <li><a href="#"><img src="img/Z4.jpg"/><p>魅族蓝牙音频接收器</p><p>￥298 起</p></a></li>
                                <li><a href="#"><img src="img/Z5.jpg"/><p>魅族蓝牙音频接收器</p><p>￥298 起</p></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="sub navLink">
                        <p><a href="#">生活</a> </p>
                        <div class="item">
                            <ul class="ulR">
                                <li><a href="#"><img src="img/S1.jpg"/><p>魅蓝休闲旅行双肩包</p><p>￥208 起</p></a></li>
                                <li><a href="#"><img src="img/S2.jpg"/><p>魅蓝休闲旅行双肩包</p><p>￥208 起</p></a></li>
                                <li><a href="#"><img src="img/S3.jpg"/><p>魅蓝休闲旅行双肩包</p><p>￥208 起</p></a></li>
                                <li><a href="#"><img src="img/S4.jpg"/><p>魅蓝休闲旅行双肩包</p><p>￥208 起</p></a></li>
                                <li><a href="#"><img src="img/S5.jpg"/><p>魅蓝休闲旅行双肩包</p><p>￥208 起</p></a></li>
                                <li><a href="#"><img src="img/S1.jpg"/><p>魅蓝休闲旅行双肩包</p><p>￥208 起</p></a></li>
                                <li><a href="#"><img src="img/S2.jpg"/><p>魅蓝休闲旅行双肩包</p><p>￥208 起</p></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="sub">
                        <p><a href="#">flyme</a> </p>
                    </li>
                    <li class="sub">
                        <p><a href="#">服务</a> </p>
                    </li>
                    <li class="sub">
                        <p><a href="#">专卖店</a> </p>
                    </li>
                    <li class="sub">
                        <p><a href="#">社区</a> </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</h1>
<script src="js/index1.js"></script>